In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math
import itertools
from matplotlib.ticker import ScalarFormatter
pd.set_option('display.max_columns', None)

In [2]:
df_raw = pd.read_csv("dropout_rate.csv", sep=";", encoding="utf-8-sig")

In [3]:
df_raw

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,5,4,122.2,0,0,0,1,1,0,19,0,0,6,7,5,13.600000,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,9,9,119.0,1,0,1,0,0,0,18,1,0,6,6,6,12.000000,0,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,9,9,149.5,1,0,0,1,0,1,30,0,0,7,8,7,14.912500,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,7,4,153.8,1,0,0,1,0,1,20,0,0,5,5,5,13.800000,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,5,9,152.0,1,0,0,1,0,0,22,1,0,6,8,6,11.666667,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

## Mô tả

Bộ dữ liệu được tạo ra nhằm hỗ trợ giảm tỷ lệ bỏ học và thất bại học tập ở bậc đại học, thông qua việc ứng dụng các kỹ thuật học máy để xác định sinh viên có nguy cơ cao ngay từ giai đoạn đầu của quá trình học. Bộ dữ liệu tạo bởi nhóm Mónica V. Martins, Daniel Tolledo, Jorge Machado, Luís M. T. Baptista, and Valentim Realinho. 2021

In [4]:
df_raw.shape

(4424, 37)

In [5]:
df_raw.isnull().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

Số dòng: 4,424

Số cột: 36

Không có giá trị thiếu (ko null).

# Phân loại

## Qualitative
| Cột | Ý nghĩa |
|---|---|
| Marital Status | Tình trạng hôn nhân: 1 – độc thân, 2 – đã kết hôn, 3 – góa, 4 – ly hôn, 5 – ly thân hợp pháp |
| Application mode | Hình thức nộp hồ sơ (ví dụ: kỳ 1, diện đặc biệt, ưu tiên vùng...) |
| Application order | Mức độ ưu tiên của ngành khi đăng ký (0 là ưu tiên cao nhất) |
| Course | Mã ngành học (ví dụ: 33 - Công nghệ nhiên liệu sinh học, 171 - Đồ họa hoạt hình...) |
| Daytime/evening attendance | Thời gian học: 1 – ban ngày, 0 – buổi tối |
| Previous qualification | Trình độ học vấn trước đó |
| Nacionality | Quốc tịch (được mã hóa) |
| Mother's qualification | Trình độ học vấn của mẹ |
| Father's qualification | Trình độ học vấn của cha |
| Mother's occupation | Nghề nghiệp của mẹ |
| Father's occupation | Nghề nghiệp của cha |
| Displaced | Có phải sống xa nhà không: 1 - Có, 0 - Không |
| Educational special needs | Có nhu cầu giáo dục đặc biệt không: 1 - Có, 0 - Không |
| Debtor | Có nợ học phí không: 1 - Có, 0 - Không |
| Tuition fees up to date | Đã đóng đủ học phí chưa: 1 - Rồi, 0 - Chưa |
| Gender | Giới tính: 1 - Nam, 0 - Nữ |
| Scholarship holder | Có học bổng không: 1 - Có, 0 - Không |
| International | Sinh viên quốc tế: 1 - Có, 0 - Không |
| Target | Kết quả học tập: "Graduate" (tốt nghiệp), "Dropout" (bỏ học), ... |

## Quantitative 

### Discrete

| Cột | Ý nghĩa |
|---|---|
| Age at enrollment | Tuổi khi nhập học |
| Curricular units 1st sem (credited) | Số học phần kỳ 1 được miễn/chuyển điểm |
| Curricular units 1st sem (enrolled) | Số học phần kỳ 1 đã đăng ký |
| Curricular units 1st sem (evaluations) | Số học phần kỳ 1 đã tham gia đánh giá |
| Curricular units 1st sem (approved) | Số học phần kỳ 1 đã qua môn |
| Curricular units 1st sem (without evaluations) | Số học phần kỳ 1 không có điểm đánh giá |
| Curricular units 2nd sem (credited) | Số học phần kỳ 2 được miễn/chuyển điểm |
| Curricular units 2nd sem (enrolled) | Số học phần kỳ 2 đã đăng ký |
| Curricular units 2nd sem (evaluations) | Số học phần kỳ 2 đã tham gia đánh giá |
| Curricular units 2nd sem (approved) | Số học phần kỳ 2 đã qua môn |
| Curricular units 2nd sem (without evaluations) | Số học phần kỳ 2 không có điểm đánh giá |

### Continuous

| Cột | Ý nghĩa |
|---|---|
| Previous qualification (grade) | Điểm số bằng cấp trước đó |
| Admission grade | Điểm đầu vào |
| Curricular units 1st sem (grade) | Điểm trung bình kỳ 1 |
| Curricular units 2nd sem (grade) | Điểm trung bình kỳ 2 |
| Unemployment rate | Tỉ lệ thất nghiệp tại thời điểm đó |
| Inflation rate | Tỉ lệ lạm phát tại thời điểm đó |
| GDP | Tổng sản phẩm quốc nội tại thời điểm đó |

In [8]:
df = df_raw.copy()

summary_stats = {
    "Thông số thống kê": [
        "Mean",
        "Min",
        "25th Percentile",
        "Median",
        "75th Percentile",
        "Max",
        "Mode",
        "Variance",
        "Standard Deviation",
        "Coefficient of Variation"
    ]
}

numeric_discrete = [
    "Age at enrollment",
    "Curricular units 1st sem (credited)",
    "Curricular units 1st sem (enrolled)",
    "Curricular units 1st sem (evaluations)",
    "Curricular units 1st sem (approved)",
    "Curricular units 1st sem (without evaluations)",
    "Curricular units 2nd sem (credited)",
    "Curricular units 2nd sem (enrolled)",
    "Curricular units 2nd sem (evaluations)",
    "Curricular units 2nd sem (approved)",
    "Curricular units 2nd sem (without evaluations)"
]


for col in numeric_discrete:
    data = df[col]
    mean_val = data.mean()
    std_val = data.std()
    mode_val = data.mode().iloc[0] if not data.mode().empty else np.nan
    variance_val = data.var()
    cv_val = std_val / mean_val if mean_val != 0 else np.nan

    summary_stats[col] = [
        mean_val,
        data.min(),
        data.quantile(0.25),
        data.median(),
        data.quantile(0.75),
        data.max(),
        mode_val,
        variance_val,
        std_val,
        cv_val
    ]

formatted_summary_df = pd.DataFrame(summary_stats).copy()

for col in formatted_summary_df.columns[1:]:  # Skip "Thông số thống kê"
    formatted_summary_df[col] = formatted_summary_df[col].apply(lambda x: f'{x:,.4f}' if isinstance(x, (int, float)) else x)

formatted_summary_df

,Thông số thống kê,Age at enrollment,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (without evaluations)
0,Mean,23.2651,0.7100,6.2706,8.2991,4.7066,0.1377,0.5418,6.2321,8.0633,4.4358,0.1503
1,Min,17.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,25th Percentile,19.0000,0.0000,5.0000,6.0000,3.0000,0.0000,0.0000,5.0000,6.0000,2.0000,0.0000
3,Median,20.0000,0.0000,6.0000,8.0000,5.0000,0.0000,0.0000,6.0000,8.0000,5.0000,0.0000
4,75th Percentile,25.0000,0.0000,7.0000,10.0000,6.0000,0.0000,0.0000,7.0000,10.0000,6.0000,0.0000
5,Max,70.0000,20.0000,26.0000,45.0000,26.0000,12.0000,19.0000,23.0000,33.0000,20.0000,12.0000
6,Mode,18.0000,0.0000,6.0000,8.0000,6.0000,0.0000,0.0000,6.0000,8.0000,6.0000,0.0000
7,Variance,57.5749,5.5720,6.1513,17.4649,9.5743,0.4773,3.6808,4.8222,15.5863,9.0888,0.5682
8,Standard Deviation,7.5878,2.3605,2.4802,4.1791,3.0942,0.6909,1.9185,2.1960,3.9480,3.0148,0.7538
9,Coefficient of Variation,0.3261,3.3247,0.3955,0.5036,0.6574,5.0188,3.5409,0.3524,0.4896,0.6796,5.0146